---
import Button from '../../components/Button.astro';
---

<section class="hero">
  <div class="image-container">
    <img
      src="https://images.unsplash.com/photo-1631679706909-1844bbd07221?auto=format&fit=crop&w=2400&q=80"
      alt="Flusshaus Atmosphere"
      class="image-container__image"
    />
  </div>
  <div class="container">
    <div class="hero-content text-center">
      <h1 class="text-3xl mb-lg">FLUSSHAUS</h1>
      <p class="text-xl mb-xl">NOMAD LIVING</p>
      <Button href="#welcome" variant="secondary">ENTDECKEN SIE MEHR</Button>
    </div>
  </div>
</section>

<style>
  @import '../../styles/hero.css';
</style>
