---
import Button from '../../components/Button.astro';
---

<div class="welcome-outer">
  <div class="welcome-inner">
    <h1>Willkommen bei Doris Day</h1>
    <p>
      Entdecken Sie zeitlose Mode und elegante Accessoires in unserem Boutique in Aarau. Wir bieten
      sorgfältig ausgewählte Kollektionen, die Stil und Komfort perfekt vereinen.
    </p>
    <Button variant="secondary">UNSERE KOLLEKTIONEN</Button>
  </div>
</div>

<style>
  @import '@/styles/welcome.css';
</style>
