---
interface Props {
  title?: string;
  image?: {
    src: string;
    alt: string;
  };
  class?: string;
}

const { title, image, class: className } = Astro.props;

import '@/styles/card-with-image.css';
---

<div class:list={['card-with-image', className]}>
  <div class="card-with-image__inner">
    {
      image && (
        <div class="card-with-image__image">
          <img src={image.src} alt={image.alt} />
        </div>
      )
    }
    {title && <h3 class="card-with-image__title">{title}</h3>}
  </div>
  <div class="card-with-image__content">
    <slot />
  </div>
</div>
