---
interface Props {
  src: string;
  alt: string;
  class?: string;
  aspectRatio?: string;
}

const { src, alt, class: className, aspectRatio = '1/1' } = Astro.props;

import '@/styles/image.css';
---

<div class:list={['modern-image', className]} style={`--aspect-ratio: ${aspectRatio}`}>
  <img {src} {alt} />
</div>
