---
interface Props {
  class?: string;
  items: Array<{ href: string; text: string }>;
}

const { class: className, items } = Astro.props;

import '@/styles/navigation.css';
---

<nav class:list={['nav', className]}>
  <ul>
    {
      items.map((item) => (
        <li>
          <a href={item.href} class="nav-link">
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
